/* Thiết lập cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 80px; /* Giảm xuống phù hợp với chiều cao mới của header */
}

/* Dùng Grid layout để chia vùng */
.page-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header - main - footer */
    min-height: 100vh;
    background: url('../HTML/ảnh/logo_Hunmyi.jpg') no-repeat center center/cover;
}

/*Main*/
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; /* đẩy nội dung xuống dưới header cố định */
    padding-bottom: 50px; /* tránh footer đè lên */
}

.order-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 600px;
}

.order-form h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #8cca46;
    padding: 10px 20px;
    width: 500px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
    width: 500px;
}

.form-group label {
    display: block;
    font-size:large;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid yellowgreen;
    border-radius: 6px;
}

.form-group span {
    color: red;
}

.total {
    font-weight: bold;
    margin-top: 10px;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
}

.submit-btn button {
    background-color: #8cca46;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #218838;
    color: white;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}