/* Thiết lập cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 100px; /* Giảm xuống phù hợp với chiều cao mới của header */
}

/* Danh mục */
.categories {
    display: flex;
    gap: 10px;  
    padding: 10px 20px;
    background: #8cca46;
    border: 1px solid none;
}

.category {
    position: relative;
    flex: 1; /* giữ đều khoảng cách các category */
    text-align: center;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

.category label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    user-select: none;
    white-space: nowrap; /* tránh label xuống dòng */
    pointer-events: auto;   
}
.category label:hover {
    background: #c2784a;
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.sub-categories {
    display: none;
    flex-direction: column; /*chuyển menu con từ ngàng sang dọc*/
    position: absolute;
    top: 100%;
    left: 20%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 0px; /*chỉnh cho sub-category cách categoty*/
    z-index: 50;
    min-width: 180px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    pointer-events: auto;
}

.sub-category {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
    pointer-events: auto;
}

.sub-category:hover {
    background: #d8e0ad;
    border-radius: 8px;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

  /* Hiện sub-menu khi checkbox được check */
.category label:hover + .sub-categories,
.category:hover .sub-categories {
    display: flex;
}

/* Sản phẩm */
.products {
    padding: 30px 20px;
    text-align: center;
}

    .products h2 {
        margin-bottom: 20px;
    }

.product-item {
    display: inline-block;
    width: 250px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

    .product-item img {
        width: 100%;
    }


        .product-item h3 {
            margin: 10px 0;
        }

    .product-item button {
        background: #8cca46;
        color: #fff;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

        .product-item button:hover {
            background: #8b6f56;
        }

/*Hình minh họa sản phẩm*/
.image-hover {
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 10px;
}

    .image-hover img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s ease;
    }

.img-hover {
    opacity: 0;
}

.image-hover:hover .img-default {
    opacity: 0;
}

.image-hover:hover .img-hover {
    opacity: 1;
}